:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #69da46;
}
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');
body{
    font-size: 0.950rem;
    width: 100%;
    background-color: var(--body-bg-color);
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
}
.conteiner-principal{
    display: grid;
    height: 100vh;
    width: 100%;
    margin: 0;
    grid-template-columns: 360px 1fr ;
    grid-template-areas: 
    'left-bar all-content'
    'left-bar all-content'
    'left-bar all-content'
    ;
    grid-template-rows: 300px, 500px, 200px;
}
.left-bar{
    grid-area: 'left-bar';
    height: 100vh;
    padding: 30px;
}
.all-content{
    grid-area: 'all-content';
    padding: 30px;
}
.card-perfil, .card-side-menu, .card-tecnologies{
    width: 100%;
    margin-bottom: 20px;
}
.card-side-menu .menu{
    padding: 15px;
}
.card-perfil div{
    text-align: center;
    padding: 30px;
}
.card-perfil img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 3px var(--bg-techs);
}
.card-myprojects{
    display: flex;
    justify-content: space-between;
}   
.card-myprojects, .recent-posts{
    margin-bottom: 20px;
}

.card-tecnologies,.card-myprojects, .recent-posts, .card-sobre-mim, .card-perfil, .card-side-menu{
    background-color: var(--bg-cards);
    border-radius: 10px;
}
.card-tecnologies{
    width: 100%;
    justify-content: space-around;
}
.tecnologies{
    border-radius: 10px;
    padding: 15px;
}
.tecnologies p{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-techs);
    margin: 0 5px 0 5px;
    color: black;
}
.tecnologies div{
    display: flex;
    margin: 5px 0 10px;
}
.menu ul li{
    list-style: none;
    padding: 10px;
    margin: 10px 0 10px;
    border-radius: 10px;
}
.card-repositories div{
    background-color: var(--bg-cards);
    width: 45%;
    border-radius: 10px;
}
.card-repositories div h2{
    font-size: 1.150rem;
}
.card-repositories{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
}
.recent-posts, .card-sobre-mim, .card-repositories div, .card-myprojects{
    padding: 20px;
}
.card-sobre-mim{
    display: flex;
    border-radius: 10px;
}
.card-sobre-mim  div img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card-sobre-mim div{
    margin-right: 20px;
}
.card-myprojects p a{
    text-decoration: none;
    color: var(--text-color);
}
.card-myprojects p a:hover{
    color: var(--bg-techs);
}
.menu ul li:hover{
    background-color: var(--bg-techs);
    color: black;
}
.recent-posts:hover{
    background-color: #568548;
    color: black;
}